/* ===================================================
	FONTS
=================================================== */

/*@font-face {
    font-family: Gotham;
    src: url(../fonts/HCo_Gotham_Bundle/Gotham-Book.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Gotham;
    src: url(../fonts/HCo_Gotham_Bundle/Gotham-BookItalic.otf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
	font-family: Gotham-Medium;
	src: url(../fonts/HCo_Gotham_Bundle/Gotham-Medium.otf);
	font-weight: 400;
	font-style: normal;
}*/

@font-face {
	font-family: Gotham;
	src: url(../fonts/HCo_Gotham_Bundle/Gotham-Bold.otf);
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Lato;
	src: url(../fonts/Lato/Lato-Light.ttf);
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: Lato;
	src: url(../fonts/Lato/Lato-Regular.ttf);
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Lato;
	src: url(../fonts/Lato/Lato-Bold.ttf);
	font-weight: 700;
	font-style: normal;
}

@font-face {
    font-family: "FredokaOne-Regular";
    src: url(../fonts/FredokaOne-Regular.ttf) format("truetype");
}

/* ===================================================
	GENERAL
=================================================== */

* {
	box-sizing: border-box;
	/*border: 1px solid red;*/
}

body {
	margin: 0;
	padding: 0;
	background-color: rgba(48,48,48,1);
	font-family: "Muli", sans-serif;
	font-weight: 400;
	color: #9e9e9e;
}

header {
	padding: 0;
	margin: 0;
}

h1 {
	font-family: "Muli", sans-serif;
	font-weight: 400;
	font-size: 26px;
	color: rgba(31,232,255,0.8);
	margin-top: 0;
}

h2 {
	font-family: "Muli", sans-serif;
	font-weight: 400;
	font-size: 16px;
	/*color: rgba(31,232,255,0.6);*/
	margin-top: 0;
}

a {
	text-decoration: none;
	/*color: rgba(31,232,255,0.3);*/
	color: #F1F1F1;
	transition: 0.15s;
	-webkit-transition: 0.1s;
}

a:hover {
	/*color: #9e9e9e;*/
	/*color: rgba(31,232,255,0.6);*/
	color: #FF9800;
}

hr {
	border-top: 1px solid rgba(31,232,255,0.3);
	margin-top: 0;
	margin-bottom: 0;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.centered-container {
	position: relative;
	max-width: 960px;
	/*max-width: 1600px;*/
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.buffered-container,
.buffered-sides {
	position: relative;
	padding-left: 16px;
	padding-right: 16px;
	display: block;
}

.buffered-container,
.buffered-top {
	padding-top: 16px;
	/*padding-bottom: 16px;*/
}

.buffered-top-large {
	padding-top: 32px;
}

.full-height { 
	height: 100vh;
}

#buffer-large {
	min-height: 120px;
	/*min-height: 128px;*/
}

#buffer-small {
	/*min-height: 140px;*/
	min-height: 158px;
}

#footer {
	min-height: 100px;
}

.black-background, 
.black-btn {
	background-color: black;
}

.dark-grey-background, 
.grey-btn, 
.filter {
	background-color: #303030; /* rgb(48,48,48);*/
}

.light-grey-background, 
.light-grey-btn {
	background-color: #F1F1F1;
}

.orange-background, 
.orange-btn {
	background-color: #FF9800;
}

.khaki-background, 
.khaki-btn {
	background-color: #F0E68C;
}

.skyblue-background, 
.skyblue-btn {
	background-color: #1FE8FF; /* rgb(31,232,255) */
}

.light-grey-text {
	color: #F1F1F1!important;
}

.grey-text {
	color: #9e9e9e!important;
}

.khaki-text {
	color: #F0E68C;
}

.orange-text {
	color: #FF9800;
}

/* NAVIGATION and FILTER */

.index header {
	/*position: fixed;*/
	top: 0;
	width: 100%;
	z-index: 1;
}

#nav-container {
	background-color: rgba(48,48,48,1);
	border: 1px solid rgba(48,48,48,1);
	padding-top: 16px;
}

#identity {
	width: 350px; 
	font-size: 34px; 
	font-family: 'FredokaOne-Regular', sans-serif;
	font-weight: normal;
	vertical-align: top;
	transition: 0.15s;
}

#identity:hover {
	/*opacity: 0.8;*/
}

#main-nav {
 	padding-top: 5px;
 	padding-bottom: 10px;
}

.index #filter-large,
.contact #filter-large {
	background-color: rgba(48,48,48,0.7);
}

.contact #filter-large {
	background-color: rgba(48,48,48,1);
	padding-bottom: 16px;
}

#filter-large {
	margin-bottom: 16px;
}

#filter-large .filter-btn,
/*#top-btn,*/
button.top,
button.next,
button.prev {
	background-color: rgba(48,48,48,1);
}

#filter-large .filter-btn, 
#filter-container .filter-btn {
	border-right: 1px solid rgba(31,232,255,0.3);
}

#filter-large .filter-btn:last-of-type,
#filter-menu-btn { 
	border-right: none;
}

.filter-btn,
/*#top-btn,*/
button.top,
button.next,
button.prev {
	font-weight: 300;
	text-transform: lowercase;
}

/*#top-btn,*/
button.top,
button.next,
button.prev {
	padding-left: 0;
	padding-right: 0;
}

/* GALLERY */

.tile {
	position: relative;
	height: 25vh;
	min-height: 200px;	
	max-height: 300px;
	cursor: pointer;
	overflow: hidden;
	border: 1px solid black;
}

.tile img {
	position: absolute;
	object-fit: cover;
	width: 300px;
	height: 200px;
	z-index: -1;
	transition: filter 1s linear;
}

.grayscale {
	filter: grayscale(1);
}

.tile-header {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 0;
	padding-top: 8px;
	padding-bottom: 8px;
	color: white;
	background-color: rgba(0,0,0,0.7);
	visibility: hidden;
	font-family: "Muli", sans-serif;
	font-weight: 300;
	/*transition: all .3s linear; */
}

.show-header {
	visibility: visible;
}

.medium {
  	color: rgba(31,232,255,0.5);
	text-transform: lowercase;
	margin: 0;
	padding: 0;
	font-family: "Muli", sans-serif;
	font-weight: 300;
}

.tile:hover .tile-header {
	visibility: visible;
}

.tint {
	/*position: relative;*/
	float: left;
	cursor: pointer;
}

.tint:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(31,232,255,0.6);
	transition: all .3s linear;
}

.tint:hover:before { 
	background: none; 
  	box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
}

/* VIDEO */

.video-container {
	position: relative;
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* PROJECT DETAILS */

.proj-gallery img {
	margin: auto;
	width: 100%;
	max-width: 800px;
	padding: 3px;
	display: block;
}

img.thumbnail {
	cursor: pointer;
}

/* SLIDESHOW */

.slideshow, 
.slideshow-test {
	position: relative;
	max-width: 900px;
	margin: 0 auto;
	padding: 0;
}

.slideshow .slide, 
.slideshow .slide-test {
	position: relative;
	width: 100%;
	z-index: -1;
	text-align: center;
}

.slideshow img {
	width: 100%;
	height: auto;
	border: none;
}

.slideshow .hide-slide {
	display: none;
}

.slideshow .slide-number {
	position: absolute;
	bottom: 0;
	right: 0;
	/*font-weight: 200;*/
	padding: 16px;
}

.prevproject, 
.nextproject,
.slideshow .prev,
.slideshow .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	/*border-radius: 0 3px 3px 0;*/
	user-select: none;
	-webkit-user-select: none;
	z-index: 100;
}

.prevproject,
.nextproject {
	position: fixed; 
	top: auto;
	bottom: 0;
	padding-top: 16px;
	padding-bottom: 16px;
	z-index: 1;
}

.nextproject {
	right: 0;
}

.slideshow .prev {
	left: 0;
}

.slideshow .next {
	right: 0;
	/*border-radius: 3px 0 0 3px;*/
}

.close-modal {
	font-weight: bold;
	font-size: 20px;
	color: white;
	background-color: rgba(0, 0, 0, 0.4)!important;
	z-index: 100; 
}

.prevproject:hover,
.nextproject:hover, 
.slideshow .prev:hover,
.slideshow .next:hover,
.close-modal:hover {
	color: white!important;
	background-color: rgba(0, 0, 0, 0.8)!important;
}

.slideshow .caption {
	padding: 16px;
	background-color: black;
	min-height: 55px;
}

.slide img, .slide-img {
	position: relative;
	object-fit: contain;
	object-position: top;
	/*border: 5px dashed yellow;*/
	max-width: 100%;
	/*width: 900px;
	height: 600px;*/
	display: block;
	cursor: pointer;
	margin-bottom: 0px;
}

/* SOUND */

.sound-cover {
	margin: 0 auto;
	max-width: 400px;
}

.sound-cover img {
	width: 100%;
	max-width: 400px;
	height: 400px;
	object-fit: cover;
	display: block;
}

/*==========  Mediq Queries  ==========*/

/* Extra Large Devices, e.g., iMac Retina */
/*@media
screen and (-webkit-min-device-pixel-ratio: 1.5),
screen and (-moz-min-device-pixel-ratio: 1.5),
screen and (min-device-pixel-ratio: 1.5)*/ 
/*@media only screen and (min-width: 1441px)*/
/*@media only screen and (min-device-pixel-ratio: 2), 
    only screen and (min-resolution: 192dpi)*/
@media only screen and (min-resolution: 192dpi) and (min-width: 1441px) {
	.buffered-container,
	.buffered-sides {
		padding-left: 32px;
		padding-right: 32px;
	}

	.slideshow {
		/*max-width: 1000px;*/
		max-width: 1600px;
	}
	.slideshow img {
	  	/*width: 1000px;
		height: 667px;*/
		width: 1600px;
		height: 892px;
  	}
	.tile img {
		width: 450px;
		height: 300px;
		/*width: 600px;
		height: 533px;*/
		/*width: 600px;
		height: 400px;*/
		transform: none;
	}
}

/* Large Devices, Wide Screens, e.g., Macbook */
@media only screen and (max-width: 1440px) {
	.slideshow {
		max-width: 900px;
	}
	.slideshow img {
	  	width: 900px;
		height: 600px;
  	}
  	.tile img {
  		transform: translateX(-10%);
  	}
}

/* Between Large and Medium Devices */
@media only screen and (max-width: 1100px) {
	.slideshow {
		max-width: 800px;
	}
	.slideshow img {
	  	width: 800px;
		height: 533px;
  	}
  	/*.tile img {
  		transform: translateX(-10%);
  	}*/
}

/* Break point for w3ss medium is 992 */
/* Medium Devices, Medium Screens */
@media only screen and (max-width: 992px) {
	.slideshow {
		max-width: 800px;
	}
	.slideshow img {
		width: 800px;
		height: 533px;
	}
	.tile img {
  		transform: translateX(-8%);
  	}
}

/* Portrait Mode */
@media only screen and (orientation: portrait) {
	.tile {
		height: 20vh;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
	.slideshow {
		max-width: 708px;
	}
	.slideshow img {
		width: 708px;
		height: 472px;
	}
	.tile img {
  		transform: translateX(-8%);
  	}
}

/* Break point for w3css small is 600 */
@media only screen and (max-width: 600px) {
	.slideshow {
		max-width: 600px;
	}
	.slideshow img {
		width: 600px;
		height: 400px;
	}
	.tile img {
  		transform: none;
  	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width: 480px) {
	.slideshow {
		max-width: 450px;
	}
	.slideshow img {
		width: 450px;
		height: 300px;
	}
	.tile img {
  		transform: translateX(-10%);
  	}
  	.sound-cover {
		max-width: 300px;
	}
	.sound-cover img {
		max-width: 300px;
		height: 300px;
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width: 320px) {
	.tile img {
  		transform: translateX(-10%);
  	}
  	.sound-cover {
		max-width: 280px;
	}
	.sound-cover img {
		max-width: 280px;
		height: 280px;
	}
}

/*==========  End Media Queries ==========*/






